<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Welcome <%= data.name%> Your Email is <%= data.email%>  </h2>
<ul>
    <% data.skils.forEach((item)=>{ %>
        <li> <%= item %> </li>
     <% }) %>
</ul>
</body>
</html>